.nav-container{
  display: flex;
  margin: 5px;
  justify-content: center;
  list-style-type: none;
}
.nav-container img{
  width: 230px;
}
.categorias{
  display: flex;
}
.categorias li{
  display: flex;
}
.categorias li a{
  margin: 50px 50px;
  color: rgba(98, 41, 41, 0.596); 
}
