
.nav-container{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: rgb(252, 247, 247);
}

.nav-container img{
  width: 290px;
}

.categorias{
  display: flex;
}

.categorias li{
  display: flex;
}

.categorias li a{
  margin: 40px;
  color: rgba(98, 41, 41, 0.596); 
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.carrito{
  margin-top: 80px;
  margin-right: 40px;
}

.listcontainer{
  margin-top: 60px;
}

.card{
  background-color: rgb(252, 247, 247);
  border: none;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.button{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: rgba(206, 164, 164, 0.678);
  border: 1px solid rgba(206, 164, 164, 0.481);
}

.card img{
  width: 100%;
  max-height: 300px;
}

.card-body{
  max-height: max-content;
}

.title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.price{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}

.detail-container{
  width: 30%;
  height: 78vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(252, 247, 247);
  text-align: center;
  margin: 40px;
}
.detail-container h2{
  font-size: 25px;
}
.detail-container p{
  font-size: 15px;
}
